main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body{
    background-image: url('background-image.jpg');
    background-size: cover;
}
header{
    margin-top: 2cm;
}
h1{
    padding-left: 2cm;

}
ul{
    float: right;
    display: inline;
}
li{
    display: inline;
    padding: 2px;
}
.title{
    font-size: xx-large;
    font-family: monospace;
    font-weight: bolder;
    font-style: normal;
}
.neumorphism {
    font-size: 30px;
    font-family: monospace;
    display: inline-block;
    margin-left: 1cm;
    margin-right: 1cm;
    padding: 20px;
    background-color: #e0e5ec;
    border-radius: 20px;
    border: none;
    box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px #b7c4d6;
    transition: all 0.2s ease-in-out;
  }
  
  .neumorphism:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px #b7c4d6, inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 4px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .neumorphism:active {
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #b7c4d6, inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .bottom-navigation {
    font-size: 30px;
    font-family: monospace;
  
    background-color: #e0e5ec;
    border-radius: 20px;
    border: none;
    box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px #b7c4d6;
    transition: all 0.2s ease-in-out;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.5cm;
    padding-top: 0.5cm;
  }
  
  .nav-btn {
    font-size: 30px;
    font-family: monospace;
  
    background-color: #e0e5ec;
    border: none;
    box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px #b7c4d6;
    transition: all 0.2s ease-in-out;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  a{
    text-decoration: none;
    color: black;
  }
  

  .nav-btn:hover {
    transform: translateY(-15px);
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #b7c4d6;
  }
  
  .nav-btn:active {
    transform: translateY(0);
    box-shadow: -2px -2px 4px #ffffff, 2px 2px 4px #b7c4d6;
  }
  

  .form_neumorphism{
    font-size: 30px;
    font-family: monospace;
    display: inline-block;
    margin-left: 1cm;
    margin-right: 1cm;
    padding: 20px;
    background-color: #e0e5ec;
    border-radius: 20px;
    border: none;
    box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px #b7c4d6;
    transition: all 0.2s ease-in-out;
  }