<!DOCTYPE html>
<html>
<head>
	<title>My Beautiful Web Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <header>
        <hr>
        <h1 class="title">AayQuick</h1> 
        
      
        <hr>

    </header>
	<main>
        <form class="form_neumorphism" style="padding: 2cm; text-align:center;" method='POST' action="/admin">

          UserName:  <input type="text" name='name' class="nuemorphism" style="font-size: x-large"><br><br>
          PassWord: <input type="password" name="password" class="nuemorphism" style="font-size: x-large"><br><br>
            <button onclick="submit" class="neumorphism" style="font-size:x-large; padding-left: 1cm; padding-right: 1cm">Continue</button>
        </form>  
    </main>
    <footer class="bottom-navigation">
        <a href="/home"> <button class="nav-btn home">Home</button></a>
            <button class="nav-btn downloads">Downloads</button>
            <button class="nav-btn contact">Contact</button>
    </footer>
</body>
</html>
