<!DOCTYPE html>
<html>
<head>
	<title>My Beautiful Web Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <header>
        <hr>
        <h1 class="title">AayQuick</h1> 
        
      
        <hr>

    </header>
	<main>
        <button class="neumorphism"><a href='/send'>&nbsp;&nbsp;Send&nbsp;&nbsp;</a></button>
        <button class="neumorphism"><a href='/recieve/none'>Recieve</a></button>
        
    </main>
    <footer class="bottom-navigation">
            <button class="nav-btn home">Home</button>
            <button class="nav-btn downloads">Downloads</button>
            <button class="nav-btn contact">Contact</button>
    </footer>
</body>
</html>
